$primary-font-family: 'Noto Sans JP', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;

$first-letter-color: #FFC600;
$color-light: whitesmoke;
$about-color: #717171;
$line-color: #808080;

body  {
  font-family: $primary-font-family;
  background-color: #000000;
}

.bgc  {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.top-layout  {
  padding-top: 114px;
  padding-bottom: 150px;
  h1 {
    margin-bottom: 22px;
    color: white;
    font-size: 150px;
    font-weight: bold;
    &::first-letter {
      color: $first-letter-color;
    }
  }
  p {
    font-family: $secondary-font-family;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    &::first-letter {
      color: $first-letter-color;
    }
  }
  a {
    font-family: $secondary-font-family;
    color: $first-letter-color;
    text-decoration-line: none;
    &:hover {
      color: $color-light;
    }
  }
}

.header  {
    .head   {
        padding-top: 70px;
        background-image: url(../../public/img/bf-background.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 623px; //before 654
    }
  h2 {
    color: $color-light;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 60px;
    b {
        color: $first-letter-color;
    }
  }
  a {
    color: $first-letter-color;
    font-size: 18px;
    margin-right: 35px;
    &:last-child  {
      margin-right: 0;
    }
    &:hover {
      color: $color-light;
    }
  }
}

.about  {
    .container  {
        padding-bottom: 110px;
        .tittle {
            padding-top: 20px;
            padding-left: 55px;
        }
        padding-top: 36px;
        background-color: $color-light; 
        h4 {
            color: $about-color;
            font-size: 50px;
            margin: 0;
            padding-left: 10px;
        }
        h3 {
            font-size: 80px;
            line-height: 0.9;
            &::first-letter {
                color: $first-letter-color;
            }
            &::after  {
              display: block;
              position: absolute;
              width: 25%;
              right: 36%;
              bottom: -3%;
              content: "";
              height: 2px;
              background-color: $line-color;
              opacity: 0.3;
            }
        }
        h6 {
            font-size: 13px;
        }
    }
    .text {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0%;
        height: 90%;
        width: 2px;
        background-color: $line-color;
        opacity: 0.3;
      }
    }
    p {
        font-size: 11px;
        color: $about-color;
        margin: 0;
    }
    .agc-row    {
        text-align: center;
        padding-top: 72px;
        padding-left: 200px;
        padding-right: 200px;
        p {
            font-size: 8px;
        }
        h6 {
            margin-bottom: 20px;
        }
        img {
            margin-bottom: 24px;
        }
    }
}

.featured-work  {
  .container  {
    background-color: $color-light;
    h5 {
      padding-left: 40px;
      font-size: 50px;
      &::first-letter {
        color: $first-letter-color;
      }
      &::after  {
        display: block;
        position: absolute;
        width: 21%;
        left: 21%;
        bottom: -3%;
        content: "";
        height: 2px;
        background-color: $line-color;
        opacity: 0.3;
      }
    }
  }
  .nav-pills {
    margin-top: 20px;
    margin-bottom: 26px;
    padding-left: 40px;
    .nav-item {
      &:first-child {
        margin-right: 35px;
      }
      a {
        font-size: 9px;
        padding: 0;
        margin-right: 16px;
        margin-left: 16px;
        display: inline-block;
        position: relative;
        text-decoration: none;
        background-color: transparent;
        color: black;
        &::before {
          display: block;
          position: absolute;
          content: "";
          height: 2px;
          width: 0;
          background-color: $first-letter-color;
          transition: width .5s ease-in-out, left .5s ease-in-out;
          left: 50%;
          bottom: 0;
        }
        &::after  {
          display: block;
          position: absolute;
          content: "";
          height: 2px;
          width: 0;
          background-color: $first-letter-color;
          transition: width .5s ease-in-out;
          left: 50%;
          bottom: 0;
        }
        &:hover::before {
          width: 50%;
          left: 0;
        }
        &:hover::after  {
          width: 50%;
        }
      }
    }
  }
  .img  {
    height: 267px;
    width: 25%;
    float: left;
  }
}