$primary-font-family: 'Noto Sans JP', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;

$first-letter-color: #FFC600;
$color-light: whitesmoke;
$about-color: #717171;

body  {
  font-family: $primary-font-family;
  background-color: #000000;
}

.bgc  {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.top-layout  {
  padding-top: 114px;
  padding-bottom: 150px;
  h1 {
    margin-bottom: 22px;
    color: white;
    font-size: 150px;
    font-weight: bold;
    &::first-letter {
      color: $first-letter-color;
    }
  }
  p {
    font-family: $secondary-font-family;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    &::first-letter {
      color: $first-letter-color;
    }
  }
  a {
    font-family: $secondary-font-family;
    color: $first-letter-color;
    text-decoration-line: none;
    &:hover {
      color: $color-light;
    }
  }
}

.header  {
    .head   {
        padding-top: 70px;
        background-image: url(../../public/img/bf-background.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 623px; //before 654
    }
  h2 {
    color: $color-light;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 60px;
    b {
        color: $first-letter-color;
    }
  }
  a {
    color: $first-letter-color;
    font-size: 18px;
    margin-right: 35px;
    &:last-child  {
      margin-right: 0;
    }
    &:hover {
      color: $color-light;
    }
  }
}

.about  {
    .container  {
        padding-bottom: 110px;
        .tittle {
            padding-top: 20px;
            padding-left: 55px;
        }
        padding-top: 36px;
        background-color: $color-light; 
        h4 {
            color: $about-color;
            font-size: 50px;
            margin: 0;
            padding-left: 10px;
        }
        h3 {
            font-size: 80px;
            line-height: 0.9;
            &::first-letter {
                color: $first-letter-color;
            }
            &::after  {
              display: block;
              position: absolute;
              width: 30%;
              right: 23%;
              bottom: -3%;
              content: "";
              height: 2px;
              background-color: #808080;
              opacity: 0.3;
            }
        }
        h6 {
            font-size: 13px;
        }
    }
    .text {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0%;
        height: 90%;
        width: 2px;
        background-color: #808080;
        opacity: 0.3;
      }
    }
    p {
        font-size: 11px;
        color: $about-color;
        margin: 0;
    }
    .agc-row    {
        text-align: center;
        padding-top: 72px;
        padding-left: 200px;
        padding-right: 200px;
        p {
            font-size: 8px;
        }
        h6 {
            margin-bottom: 20px;
        }
        img {
            margin-bottom: 24px;
        }
    }
}